# ==========================
# PYTHON
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# JUPYTER
# ==========================
.ipynb_checkpoints/

# ==========================
# ENVIRONMENT
# ==========================
env/
venv/
.venv/

# ==========================
# MODEL FILES
# ==========================
model/*.pkl
model/*.joblib
model/*.sav


# ==========================
# LOGS & CACHE
# ==========================
*.log
.cache/
*.cache

# ==========================
# SYSTEM FILES
# ==========================
.DS_Store
Thumbs.db

# ==========================
# EDITORS / IDE
# ==========================
.vscode/
.idea/

